@import "../../assets/styles/settings";

.nav-container {
    max-width: 1920px;
    margin: 0 auto;

    .nav-wrapper {
        background: url('../../assets/images/изобр.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 790px;
        color: snow;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        padding: 50px;
        margin: 0 auto;

        .menu {
            display: flex;
            justify-content: space-between;


            .nav-links {
                margin-left: 20%;
                a,
                button {
                    @extend %link;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }
        }

        .travel-text {
            display: flex;
            flex-direction: column;


            position: absolute;
            top: 200px;
            left: 11%;


            h2 {
                margin-bottom: 20px;
                font-size: 72px;
                font-weight: 700;
                font-family: 'Montserrat sans-serif';
                width: 35%;
                height: 16%;
                color: snow;
            }

            h1 {
                margin-top: 10px;
                font-size: 96px;
                font-weight: 900;
                font-family: "Montserrat";
                width: 550px;
                height: 200px;
                color: snow;
            }

            .together {
                position: absolute;
                left: 50%;
                top: 22%;
                color: yellow;
                font-family: 'mr_KindlyJasmineG sans-serif';
                font-weight: 400;
                font-size: 64px;
                height: 64px;
                display: grid;

                @media screen and (max-width: 768px) {
                    top: 18%;
                    left: 53%;
                    font-size: 40px;
                }
            }

            @media screen and (max-width: 1024px) {
                h1 {
                    font-size: 76px;
                    margin: 0;
                }

                h2 {
                    font-size: 60px;
                }
            }
        }

        button {
            @extend %info-btn;
            position: absolute;
            top: 280px;
            left: 0px;
        }

        .video-img {
            margin: 0;
            padding: 0;
            position: relative;
            height: 220px;
            top: 350px;
            left: 61px;
            border-radius: 10px;

            img {
                max-width: 100%;
            }

            @media screen and (min-width: 1910px) {
                position: relative;
                top: 370px;
                left: 344px;
            }

            @media screen and (max-width: 1090px) {
                position: relative;
                top: 370px;
                left: 50px;
            }

            @media screen and (max-width: 800px) {
                width: 400px;
                top: 390px;
                left: 50px;
            }
        }

        .icons {
            width: 32px;
            height: 32px;

            .icon-1 {
                position: absolute;
                top: 333px;
                left: 90%;

                &:active {
                    transform: scale(0.7);
                }
            }

            .icon-2 {
                position: absolute;
                top: 373px;
                left: 90%;

                &:active {
                    transform: scale(0.7);
                }
            }

            .icon-3 {
                position: absolute;
                top: 413px;
                left: 90%;

                &:active {
                    transform: scale(0.7);
                }
            }

            @media screen and (max-width: 768px) {
                .icon-1 {
                    top: 520px;
                }

                .icon-2 {
                    top: 560px;
                }

                .icon-3 {
                    top: 600px;
                }
            }
        }

    }

    @media screen and (max-width: 1920px) {
        width: 100%;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.burger-menu-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

    div {
        width: 100%;
        height: 5px;
        background-color: $lightBlue;
        border-radius: 5px;
        margin-top: 5px;
        transform-origin: left;
    }
}

.burger-menu-wrapper,
#burger-menu-toggler {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    top: 15px;
    display: none;
    z-index: 11;
}

#burger-menu-toggler {
    opacity: 0;
    z-index: 12;
}

@media (max-width: 800px) {

    .burger-menu-wrapper,
    #burger-menu-toggler {
        display: flex;
    }

    .burger-menu-wrapper {
        &.opened {
            div {
                margin: 5px 0;
            }

            .middle {
                opacity: 0;
            }

            .top {
                transform: rotate(45deg);
            }

            .bottom {
                transform: rotate(-45deg);
            }
        }
    }


            .menu {
                width: 0;
                height: 500px;
                display: none;
                color: aqua;
            }

    #burger-menu-toggler:checked+.nav-container>.nav-wrapper>.menu {
        width: 450px;
        position: relative;
        left: 50%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        color: aqua;

        .nav-links {
            width: 450px;
            display: flex;
            flex-direction: column;

        }

        * {
            margin-top: 10px;
        }
    }
}



@media (max-width: $small-screen) {
    #burger-menu-toggler:checked+.nav-wrapper>.menu {
        width: 100%;
    }
}